.span-16.prepend-3.append-3.last.one-col
  %h2 404 - Not Found
  %p{:style => "font-size: 1.3em; text-align: center"} 
    Looking for something? Try 
    %a{:href => "/legislators"} searching for a legislator.