.span-16.prepend-3.append-3.last.one-col
  %h2 500 - Server Error
  %p{:style => "font-size: 1.3em; text-align: center"} 
    Whoops, that didn't work...
    Try 
    %a{:href => "/legislators"} searching for a legislator
    instead.