.span-16.prepend-3.append-3.last.one-col
  %h2 Credits
  %p
    This site relies on a number of incredible open source projects:
      
  %a{:href => "http://services.sunlightlabs.com/api/"} Sunlight Labs API
  %br
  High quality, comprehensive database of information on all current and many previous Senators and Representatives
  %br
  %br
    
  %a{:href => "http://www.sinatrarb.com/"} Sinatra 
  %br        
  A great Ruby micro-web-framework.
  %br        
  %br        
  
  %a{:href => "http://www.asterisk.org/"} Asterisk
  %br  
  The gold standard in open source telephony
  %br  
  %br  
  
  %a{:href => "http://adhearsion.com/"} Adhearsion
  %br
  A ruby bridge to Asterisk
  %br
  %br
    
  %a{:href => "http://github.com/deadprogrammer/spork/tree/master"} Spork
  %br  
  A small but effective library that allows forking processes while running on top of Apache and Phusion Passenger
  %br
  %br  
  %a{:href => "http://wpaudioplayer.com/"} WordPress Audio Player
  %br
  A simple, compact and functional flash audio player.
    
    
