body {
  background: url("/images/bg.png") top left repeat-x;
  background-color: #000a3e; }

.container {
  background-color: #fff;
  padding-bottom: 20px;
  margin-top: 25px;
  padding-top: 10px; }

#header {
  position: relative;
  border-bottom: 1px solid #999;
  margin-bottom: 10px; }
  #header h1 {
    background: url("/images/logo5.png") top left no-repeat;
    margin: 5px 10px 3px 35px; }
    #header h1 a {
      display: block;
      width: 185px;
      height: 75px;
      text-indent: -4000px; }
  #header ul.top {
    position: absolute;
    top: 13px;
    right: 10px; }
    #header ul.top li {
      float: right;
      margin-left: 20px;
      list-style-type: none; }
      #header ul.top li a {
        display: block;
        height: 20px;
        line-height: 20px;
        text-decoration: none;
        color: #000a3e; }
        #header ul.top li a:hover {
          text-decoration: underline; }
  #header ul.nav {
    position: absolute;
    top: 52px;
    right: 0px;
    border-top: 1px solid #999;
    border-right: 1px solid #999; }
    #header ul.nav li {
      float: left;
      list-style-type: none;
      border-left: 1px solid #999; }
      #header ul.nav li a {
        text-decoration: none;
        color: #222;
        font-weight: bold;
        display: block;
        padding: 5px 25px 5px 25px;
        background-color: #eaeaea;
        font-size: 1.1em; }
        #header ul.nav li a:hover {
          text-decoration: underline; }

#footer {
  margin: 0 auto;
  width: 100%;
  margin-top: 15px; }
  #footer p {
    color: #999;
    text-align: center;
    padding: 10px; }

a {
  color: #000a3e; }

a:hover {
  color: #3691d6; }

h2 {
  color: #333;
  padding-bottom: 3px;
  border-bottom: 1px solid #999;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 7px;
  text-align: center; }

.empty {
  border: 1px solid #999;
  background-color: #f7f7f7;
  color: #5d5d5d;
  padding: 20px 50px;
  text-align: center;
  font-size: 1.3em;
  margin-right: 0px; }

#flash p {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 270px;
  border: 1px solid #000;
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 15px 30px; }

.centered {
  margin: 0 auto; }

a.call_link {
  border: 1px solid #777;
  display: block;
  padding: 10px 5px;
  background-color: #b9daf3;
  font-size: 1.2em;
  color: #000a3e;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold; }

a.call_link:hover {
  text-decoration: underline; }

.one-col h2 {
  text-align: center;
  color: #333;
  border-bottom: 1px solid #999;
  margin-bottom: 15px; }
.one-col .box-1 {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px; }
  .one-col .box-1 h3 {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    text-align: center; }
  .one-col .box-1 textarea {
    margin: 0 75px;
    width: 350px;
    height: 150px; }
  .one-col .box-1 input.text {
    width: 350px;
    margin: 0 75px;
    padding: 4px 8px;
    font-size: 1.2em; }
.one-col .box-2 + .box-2 {
  margin-right: 0px; }
.one-col .box-2 {
  margin-right: 35px;
  float: left;
  margin-bottom: 20px;
  width: 287px;
  min-height: 130px; }
  .one-col .box-2 label {
    float: left;
    clear: left;
    width: 110px;
    text-align: right;
    margin-right: 10px;
    line-height: 3.3em; }
  .one-col .box-2 input.text {
    float: left;
    width: 150px;
    margin-bottom: 10px; }
  .one-col .box-2 input.submit {
    float: left;
    margin-left: 120px; }
  .one-col .box-2 h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    margin-bottom: 7px;
    clear: left;
    text-align: center; }
  .one-col .box-2 small {
    float: right;
    clear: right;
    margin-right: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #5d5d5d; }
  .one-col .box-2 p {
    padding: 10px 20px; }
  .one-col .box-2 select {
    margin-top: 10px;
    font-size: 1.1em; }
.one-col p.submit {
  text-align: center; }
  .one-col p.submit input.submit {
    margin-right: 5px; }
  .one-col p.submit a {
    margin-left: 5px; }

a.header_link {
  float: right;
  margin-top: -30px;
  margin-right: 15px;
  color: #5d5d5d;
  text-decoration: none;
  padding: 2px 6px; }

a.header_link:hover {
  background-color: #ccc;
  color: #333; }

.sidebar {
  margin-top: 5px; }
  .sidebar h3 {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.2em;
    border-bottom: 1px solid #333;
    margin-right: 20px; }
  .sidebar h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: #5d5d5d;
    border-bottom: 1px solid #5d5d5d;
    margin-bottom: 10px;
    font-size: 1em; }
  .sidebar small {
    font-size: .9em;
    color: #5d5d5d; }
  .sidebar input.text {
    margin-bottom: 10px;
    width: 120px;
    display: block; }
  .sidebar p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    color: #5d5d5d;
    margin-right: 20px; }
  .sidebar ul {
    list-style: none;
    margin-left: 0px;
    margin-bottom: 30px; }
    .sidebar ul ul {
      margin-bottom: 0; }
  .sidebar ul.filter li {
    float: left;
    margin-right: 0px; }
    .sidebar ul.filter li a {
      display: block;
      padding: 0px 5px;
      color: #5d5d5d;
      text-decoration: underline;
      background-color: #fff; }
    .sidebar ul.filter li a:hover {
      background-color: #eee;
      color: #000a3e; }
    .sidebar ul.filter li a.selected {
      background-color: #ccc;
      color: #333;
      text-decoration: none;
      font-weight: bold; }
  .sidebar p.leg_image {
    text-align: center;
    margin: 0 20px 15px 0; }
    .sidebar p.leg_image img {
      margin-bottom: 5px; }
    .sidebar p.leg_image a {
      font-size: 1.2em; }

#center h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 7px;
  margin-top: 35px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc; }
#center textarea {
  width: 350px;
  height: 150px; }

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 0px 10px 5px 10px; }
  .comment .username {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 0px; }
  .comment .comment_text {
    color: #5d5d5d; }

form#login {
  border: 1px solid #333;
  background-color: #f7f7f7;
  width: 250px;
  padding: 20px 50px;
  margin: 0 auto;
  margin-bottom: 20px; }
  form#login label {
    display: block;
    width: 70px;
    float: left;
    margin-right: 10px;
    font-size: 1.2em;
    line-height: 2.7em; }
  form#login input.text {
    float: left;
    font-size: 1.2em;
    padding: 4px 8px;
    margin-bottom: 15px;
    width: 150px; }
  form#login input.submit {
    float: right; }

.welcome {
  background-color: #E5ECF9;
  padding: 15px 15px 1px 15px;
  margin-bottom: 15px; }
  .welcome p {
    color: #000;
    font-size: 1.1em;
    line-height: 1.6em; }

#quickfind form {
  padding-left: 10px; }
  #quickfind form label {
    float: left;
    display: block;
    width: 75px;
    margin-right: 10px;
    line-height: 2.2em;
    font-size: 1.2em;
    text-align: right; }
  #quickfind form input.text {
    float: left;
    width: 75px;
    font-size: 1em;
    padding: 2px 4px;
    margin-right: 10px; }
  #quickfind form input.submit {
    float: left;
    margin-left: 10px;
    margin-top: 7px; }
#quickfind a {
  clear: both;
  display: block;
  color: #5d5d5d;
  font-size: .9em;
  text-align: right;
  padding-right: 20px; }

#getstarted li {
  padding-left: 25px;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 1.2em; }
  #getstarted li strong {
    font-size: 1.2em;
    margin-right: 5px; }

#bottom {
  margin-top: 20px; }
  #bottom h3 {
    margin-bottom: 0;
    border-bottom: 1px solid #777;
    padding-bottom: 3px; }
  #bottom ul {
    list-style: none;
    margin-left: 0; }
  #bottom .block p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #333; }
  #bottom a.more {
    color: #5d5d5d; }
  #bottom a.more:hover {
    color: #111; }

div.call-list ul {
  border: 1px solid #999;
  list-style: none;
  margin: 0; }
  div.call-list ul li {
    padding: 10px;
    border-bottom: 1px solid #aaa;
    line-height: 1.8em; }
    div.call-list ul li a {
      float: left;
      font-size: 1.2em;
      color: #000a3e; }
    div.call-list ul li a:hover {
      color: #3691d6; }
    div.call-list ul li .date {
      float: right;
      font-size: 1.5em;
      color: #777; }
    div.call-list ul li .tags {
      float: left; }
    div.call-list ul li .leg_link {
      float: right; }
      div.call-list ul li .leg_link a {
        font-size: .9em;
        color: #999;
        text-decoration: none; }
      div.call-list ul li .leg_link a:hover {
        color: #333;
        text-decoration: underline; }

div.navigation span.results {
  float: left;
  font-weight: bold;
  color: #5d5d5d;
  font-size: .9em;
  margin-top: 10px;
  margin-left: 10px; }
div.navigation ul {
  border: none;
  float: right;
  padding-right: 0px; }
  div.navigation ul li {
    border: none;
    float: left;
    color: #5d5d5d;
    padding: 0 0 0 10px;
    margin: 5px 0; }
    div.navigation ul li a {
      font-size: .9em;
      text-decoration: none;
      font-weight: bold;
      color: #5d5d5d;
      border: 1px solid #ccc;
      padding: 0 6px; }
    div.navigation ul li a:hover {
      border: 1px solid #333; }

div.search-box.first {
  border-top: 1px solid #ccc; }

div.search-box {
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  position: relative; }
  div.search-box label {
    color: #000a3e;
    font-size: 1.5em;
    margin-bottom: 7px;
    line-height: 1.5em;
    margin-right: 10px; }
  div.search-box input.text {
    display: block;
    width: 140px;
    font-size: 1.2em;
    padding: 2px 4px;
    margin-bottom: 7px;
    margin-left: 0; }
  div.search-box input {
    margin-left: 90px; }
  div.search-box select {
    line-height: 1.5em;
    font-size: 1.2em;
    margin-left: 30px; }

#search-results.loading {
  background-color: #efefef; }
  #search-results.loading div.loading {
    width: 100%;
    text-align: center; }

#search-results {
  border: 1px solid #ccc;
  padding: 0px; }
  #search-results h3 {
    text-align: center;
    font-size: 1.8em;
    text-transform: uppercase;
    padding: 15px 0;
    background-color: #efefef;
    font-weight: bold;
    color: #000a3e;
    margin: 0; }
  #search-results p {
    padding: 0;
    margin: 0; }
  #search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc; }
    #search-results ul li {
      list-style: none;
      padding: 10px 20px;
      border-top: 1px solid #ccc; }
      #search-results ul li div.image {
        margin-right: 10px;
        text-align: center;
        width: 60px;
        float: left; }
      #search-results ul li a {
        font-size: 1.5em;
        line-height: 50px; }
      #search-results ul li a.call_link {
        float: right;
        margin-right: 20px;
        margin-top: 10px;
        width: 75px;
        font-size: 1em;
        line-height: 20px;
        padding: 5px; }

#call {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  width: 370px;
  border: 1px solid #999; }
  #call p.call_title {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 0px; }
  #call #call-box {
    margin: 10px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff; }

div.call_status {
  width: 500px;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px; }

#info {
  width: 400px;
  font-size: 1.1em; }
  #info p {
    margin-bottom: 10px; }
